
.bl_p{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    z-index: 9999;

}

.lg {
  position: fixed;
  top: -570px;
  left: -530px;
  transform: scale(0.05);
  background-color: transparent;
  border: none;
}

.b_pesqui {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(0%);
}

.botões{
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: right;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(0%);
}

/* espaçamento dentre os botões*/

.botões button{
  margin: 2px;
}


.Inc,
.Mb,
.Flc{
  background-color: transparent;
  border: none;
  color: white;
}

.Inc:hover,
.Mb:hover,
.Flc:hover{
  text-decoration:underline;
}

.Csc,
.Ent{
  background-color: wheat;
}

body {
background-color: rgb(9, 8, 9);
flex-direction: column;
align-items: center;
}
.h1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.70;
  margin-top: 400px;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

  .categorias{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
  }

  .categorias button{
    background-color: transparent;
    border: none;
  }

  .dst p{
    color: white;
    font-size: 25px;
  }

  h2 {
    display: flex;
    flex-direction: row;
    justify-self: space-between;
  }

 .pro1 button,
 .pro2 button,
 .pro3 button,
 .pro4 button,
 .pro5 button{
  background-color: transparent;
  border: none;
  width: 222px; /* Centraliza a Imagem!*/
  height: 150px; 
 }

 .pro1 p,
 .pro2 p,
 .pro3 p,
 .pro4 p,
 .pro5 p{
  color: white;
  text-decoration: none;
  text-align: center;
 }

 
.pro1 img,
.pro2 img,
.pro3 img,
.pro4 img,
.pro5 img {
  display: block;
  max-width: 100%; /* Define a largura máxima da imagem */
  height: auto;
}

.vnl p{
  position: absolute;
  color: white;
  font-size: 70px;
  top: 1080px;
}

.loja {
  position: absolute; 
  right: 40px; 
}

.end {
  position: absolute;
  color: white;
  left: 900px;
  top: 1450px;
}

.dept{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 1400px;
}

.dep{
  position: absolute;
  color: white;
  font-size: 25px;
  top: 1500px;
}

.marc {
  position: absolute;
  top: 1850px;
  width: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flcs {
  position: absolute;
  color: white;
  top: 2000px;
  justify-content: center;
}